body{
    text-align: center;
    background-color: rgb(7, 28, 28);
}
h1{
    color: aliceblue;
   text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  text-shadow: 3px 0 #DA0463;
}
footer {
    color: #bcc6c9;
    font-family: sans-serif;
  }
.set {
    margin: 10% auto;
  }
  .drum {
    outline: none;
    border: 10px solid #404B69;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
  }
  .w {
background-image: url("images/tom1.png");
background-size: cover;
  }
  
  .a {
  background-image: url("/images/tom2.png");
  background-size: cover;
  }
  
  .s {
    background-image: url("/images/tom3.png");
    background-size: cover;
  }
  
  .d {
    background-image: url("/images/tom4.png");
    background-size: cover;
  }
  
  .j {
    background-image: url("/images/crash.png");
    background-size: cover;

  }
  
  .k {
    background-image: url("/images/kick.png");
    background-size: cover;
  }
  
  .l {
    background-image: url("images/snare.png");
    background-size: cover;
  }
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
  
  .red {
    color: red;
  }